.card {
    margin: 0 auto;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 4px 5px 2px #ccc;
    overflow: hidden;
    text-align: center;
}

.card-body {
    padding: 1rem;
    color: black;
}

.card-id {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: rgb(32, 28, 28);
}

.card-title {
    margin-bottom: 0.5rem;
    text-align: center;
    color: black;
}

.card-text {
    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s ease;
    border: none;
}

.btn:hover {
    background-color: #0069d9;
}