<div class="card">
  <div class="card-body">
    <h1 class="card-title"><u>{{ weatherData.name }}</u></h1>
    <h3 class="card-text">Temperature: {{ weatherData.main.temp }}°C</h3>
    <h3 class="card-text">Feels Like: {{ weatherData.main.feels_like }}°C</h3>
    <h3 class="card-text">Min-Temperature: {{ weatherData.main.temp_min }}°C</h3>
    <h3 class="card-text">Max-Temperature: {{ weatherData.main.temp_max }}°C</h3>
    <h3 class="card-text">Humidity: {{ weatherData.main.humidity }}%</h3>
    <h3 class="card-text">Pressure: {{ weatherData.main.pressure }}</h3>
    <h3 class="card-text">Wind Speed: {{ weatherData.wind.speed }} m/s</h3>
    <h3 class="card-text">Visibility: {{ weatherData.visibility / 1000 }} km</h3>
    <h3 class="card-text">Sunrise: {{ weatherData.sys.sunrise }}</h3>
    <h3 class="card-text">Sunset: {{ weatherData.sys.sunset }}</h3>
    <h3 class="card-text">Wind Speed: {{ weatherData.wind.speed }}</h3>
    <h3 class="card-text">Weather : {{ weatherData.weather[0].description }}</h3>

    <button class="btn" routerLink="/">Back</button>
  </div>
</div>