<div class="card-group">
  <div class="row" *ngFor="let weather of weatherData">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{weather.name}}</h5>
          <p class="card-text">Temperature: {{ weather.main.temp }}°C</p>
          <p class="card-text">Feels Like: {{ weather.main.feels_like }}°C</p>
          <p class="card-text">Min-Temperature: {{ weather.main.temp_min }}°C</p>
          <p class="card-text">Max-Temperature: {{ weather.main.temp_max }}°C</p>
          <p class="card-text">Humidity: {{ weather.main.humidity }}%</p>
          <a href="javascript:void(0)" routerLink="weather/:?city/:countryCode" class="card-link" (click)="navigateToWeatherDetail(weather)">More</a>
        </div>
      </div>
    </div>
  </div>
</div>
