.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 1rem;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 2px 5px #ccc;
    overflow: hidden;
    background-color: powderblue;
    background-image: url('src/assets/image/download (2).jpeg');
}

.card-body {
    padding: 1rem;
    text-align: center;
}

.card-id {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: rgb(32, 28, 28);
}

.card-title {
    margin-bottom: 0.5rem;
    text-align: center;
    color: white;
}

.card-text {
    margin-bottom: 1rem;
    color: black;
    font-weight: 2rem;

}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s ease;
    border: none;
}

.btn:hover {
    background-color: #0069d9;
}

h2 {
    background-color: black;
    text-align: center;
    color: #fff;
}